<!DOCTYPE html>
<html ng-app="SlCV" ng-controller="AppCtrl" lang="de">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="assets/flaticon/flaticon.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
      <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            S&nbsp;L
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="flaticon flaticon-home168"></i>
                Start
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                  <i class="flaticon flaticon-business133"></i>
                  Über
              </a>
            </li>
              <li ui-sref-active="active">
                  <a href ui-sref="projects">
                      <i class="flaticon flaticon-folder232"></i>
                      Projekte
                  </a>
              </li>
              <li ui-sref-active="active">
                  <a href ui-sref="contact">
                      <i class="flaticon flaticon-telephone34"></i>
                      Kontakt
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p class="text-center">
            (c) 2015 <a href="http://www.SL.com">Sascha Laabs</a>. 
            Diese Seite verwendet
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a> und
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>.
            
              <br/>Icons von <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> von <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> lizensiert durch <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
